/* Body Styling */

body, header, footer {
    background-color: #a7dcb2;
    font-family: sans-serif;
}

.btn-rose{
    background-color: pink;
}

a, a:visited, a:link {
    color: black;
}

a:hover {
    color: white;
}

