<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block styles %}
    {% endblock %}
    <title>Park Tavern SW18</title>
</head>
<body>
    <header>
        <!---------------Logo in Header-->
        <div class="row no-gutters">
            <div class="offset-4 col-4">
                <img src="static/images/newptlogo.png" alt="logo" class="img-fluid d-flex">
            </div>
        </div>
        <!---------------Creating Navbar-->
        <div class="row no-gutters">
            <div class="offsett-4 col-4">
                {{ nav.navbar.render() }}
            </div>
        </div>
    </header>

{% block content %}{% endblock %}

    <footer>

    </footer>
    <script> src="{{ url_for('static', filename='js/main.js') }}"</script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>