<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block styles %}
    {% endblock %}
    <title>Park Tavern SW18</title>
</head>
    <header>
        <!---------------Logo in Header-->
        <div class="row no-gutters">
            <div class="offset-4 col-4">
                <img src="{{url_for('static', filename='images/newptlogo.png')}}" alt="logo" class="img-fluid d-flex">
            </div>
        </div>
        <!---------------Creating Navbar-->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('index') }}">Wines</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
                     <ul class="navbar-nav">
                 <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                 </li>
                 {% if session.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('profile', username=session['user']) }}">Profile</a>
                </li>
                    <li class="nav-item">   
                    <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
                </li>
                {% else %}
                    <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Log In</a>
                    </li>
                {% endif %}
                </ul>
</div>
                </nav>
                
                    
                </header>
        <main class="content-container">
         {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <div class="row mx-auto message_container">
                <div class="alert alert-warning mx-auto mt-5 d-flex justify-content-center" role="alert">
                {{message}}
                </div>
            </div>
         {% endfor %} {% endif %} {% endwith %}
         {% block content %}
         {% endblock %}
      </main>
    
    <footer>
        <div class="row no-gutters pt-5">
            <div class="col-2">
                <img src="{{url_for('static', filename='images/meghan.PNG')}}" class="w-80 h-10 img-fluid">
            </div>
            <div class="col-2">
                <img src="{{url_for('static', filename='images/lismore1.PNG')}}" class="w-80 h-10 img-fluid">
            </div>
            <div class="col-2 d-flex justify-content-center">
                <a href="https://www.facebook.com/pages/The-Park-Tavern-Wandsworth/468975299912096" aria-hidden="true" target="_blank"><i class="d-inlnine social mr-3 fa fa-facebook-square fa-3x"></i></a>
            </div>   
                <div class="col-2 d-flex justify-content-center">
                <a href="https://www.instagram.com/parktavernsw18/?hl=en" aria-hidden="true" target="_blank"><i class="d-inline social fa fa-instagram fa-3x"></i></a>
             </div>   
            <div class="col-2">
                <img src="{{url_for('static', filename='images/meg.PNG')}}" class="w-80 h-10 img-fluid">
            </div>
            <div class="col-2">
                <img src="{{url_for('static', filename='images/wines.PNG')}}" class="w-80 h-10 img-fluid">
            </div>
            
            
        
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock %}
</html>