{% extends "base.html" %}
    {% block content %}
    <!--------------Title-->
    <div class="row no-gutters">
        <div class=" d-flex justify-content-center col-12">
            <h1>Log In</h1>
        </div>
    </div>
    <!----------------------Log In Form-->
    <div class="row">
         <form id="register_form" class="col-md-6 offset-md-3 col-sm-8 offset-sm-2" method="POST" action="{{ url_for('login') }}">
            <div class="form-group">
                <label for="username" class="sr-only">Username</label>
                <input id="username" required autofocus value="{{ request.form.username }}" name="username" type="text" class="validate form-control" placeholder="username">
            </div>
            <div class="form-group">
                <label for="password" class="input-font-size">Password</label>
                <input id="password" name="password" type="password" class="validate form-control" placeholder="Password" required>
            </div>
            <div>
                <button value="login" type="submit" class="d-flex justify-center-content btn btn-secondary btn-lg btn-block mt-5 mb-5">Submit</button>
            </div>
        </form> 
    </div>
{% endblock %}
