{% extends "base.html" %}
    {% block content %}
<!----------------Title of Project-->
<div class="row no-gutters p-3">
    <div class=" d-flex justify-content-center col-12">
        <h1>South African Wine List</h1>
    </div>
</div>
<!---------------Description-->
<div class="row no-gutters pb-3">
    <div class="offset-2 col-8">
        <p>Here at Park Tavern SW18 we have an extensive range of South African wines available. We pride
            ourselves on chosing the best selection and variety of wines from the wonderful region of 
            South Africa. Have a browse over what we serve and leave some reviews if ofcourse you have
            tried the deliciousness of them, alternatively be inspired and learn about the tastes of these 
            delights
        </p>
    </div>
</div>
<!----------------Search Red Wines-->

<div class="row no-gutters">
    <div class="col-md-6 offset-md-3 col-8 offset-2 mb-3 d-flex justify-content-center btn-danger btn-lg btn-block">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed btn-lg btn-block" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Red Wines
                </button>
                </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {% for wine in wine_list %}
                        {% if wine.wine_color == "Red" %}
                        <ul>
                            <li><a href="{{url_for('wineinfo', wine_id=wine._id)}}"> {{ wine.wine_name}}</a></li>
                        </ul>
        
                        {% endif %}
                    {% endfor %}  
                </div>
            </div>
        </div>
    </div>
</div>
<!----------------Search White Wines-->
<div class="col-md-6 offset-md-3 col-8 offset-2 mb-3 d-flex justify-content-center btn-light btn-lg btn-block">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed btn-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        White Wines
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        {% for wine in wine_list %}
            {% if wine.wine_color == "White" %}
            <ul>
                <li><a href="{{url_for('wineinfo', wine_id=wine._id)}}"> {{ wine.wine_name}}</a></li>
            </ul>
        
                        {% endif %}
                    {% endfor %}  
      </div>
    </div>
  </div>
</div>
<!----------------Search Rose Wines-->
<div class="col-md-6 offset-md-3 col-8 offset-2 mb-3 d-flex justify-content-center btn-lg btn-block btn-rose">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Rose
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        {% for wine in wine_list %}
            {% if wine.wine_color == "Rose" %}
            <ul>
                <li><a href="{{url_for('wineinfo', wine_id=wine._id)}}"> {{ wine.wine_name}}</a></li>
            </ul>
        
                        {% endif %}
                    {% endfor %}  
      </div>
    </div>
  </div>
</div>
<!----------------Search Sparkling Wines-->
<div class="col-md-6 offset-md-3 col-8 offset-2 mb-3 d-flex justify-content-center btn-lg btn-block btn-warning">
   <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
       Sparkling
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        {% for wine in wine_list %}
                {% if wine.wine_color == "Sparkling" %}
            <ul>
                <li><a href="{{url_for('wineinfo', wine_id=wine._id)}}"> {{ wine.wine_name}}</a></li>
            </ul>
        
                        {% endif %}
                    {% endfor %}  
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}