{% extends "base.html" %}

    {% block content %}

     {% for wines in wine_list %}
        
        {% if loop.wine_name == wine_name %}
    <h1 class="d-flex justify-content-center">{{wines.wine_name}}</h1>
    <div class="row no-gutters">
    <div class="div col-md-4 offset-md-4">
        <img src="{{wines.wine_image}}" class="img-fluid" alt="{{wines.wine_name}} image">
    </div>
    </div>
    <div class="row no-gutters">
    <div class="div col-md-4 offset-md-4">
    <ul>
        <li>Region: {{wines.wine_region}}</li>
        <li>Color: {{wines.wine_color}}</li>
        <li>Category: {{wines.wine_category}}</li>
        <li>Description: {{wines.wine_description}}</li>
        <li>Price: {{wines.wine_price}}</li>
        
    </ul>
    </div>
    </div>
    {% endif %}

    {% endfor %}
{% endblock %}